@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
	background-color: rgba(110,195,210,1.00);
}
nav{
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}
.box{
	width:150px;
	height:150px;
}